* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --main-bg-color: #313337;
  --main-color: #98a9e6;
  --border-line: #4b4d50;
  --resolved: #98e6b8;
  --unresolved: #e69898;
  --shadow: #000000;
  --input-text-color: #858585;
  --main-transition: all .3s ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-color)
}

.wrapper {
  padding: 20px 15px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  max-width: 50em;
  box-shadow: 3px 3px 20px var(--shadow);
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.points {
  display: flex;
  column-gap: 5px;
  margin-right: 5px;
  color: var(--border-line);
}
.card {
  display: grid;
  grid-template-columns: 2em auto 2em;
  padding: 10px 5px;
  transition: var(--main-transition);
}

.card:hover {
  color: #b6c2f9;
  background-color: #282a32;
  cursor: pointer;
}

.card:not(:last-child) {
  border-bottom: 1px solid var(--border-line);
}

.card-item:nth-child(odd) {
  text-align: center;
}

.full-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  color: var(--main-color);
  padding: 0 50px;
  cursor: default;
}

.full-card .card-item {
  padding: 30px;
}

.full-card .card-item:first-child button {
  text-align: left;
}

.full-card .card-item:last-child {
  border-bottom: 1px solid var(--border-line);
}

.full-card .card-item:last-child .btn {
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 5px;
  box-shadow: 0px 2px 5px #1c1b1b;
  transition: var(--main-transition);
}

.full-card .card-item:last-child .btn:hover {
  box-shadow: 3px 2px 5px var(--shadow);
}

.full-card .card-item:nth-child(even) {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btn svg {
  vertical-align: middle;
}

.resolved,
.resolved:hover {
  color: var(--resolved);
}

.unresolved,
.unresolved:hover {
  color: var(--unresolved);
}

.form {
  padding-left: inherit;
}

.form input {
  background: none;
  outline: none;
  padding: 3px 10px;
  border: 1px solid var(--border-line);
  border-radius: 5px;
  margin-right: 5px;
  color: var(--input-text-color);
  transition: var(--main-transition);
  box-shadow: 0px 0px 8px #1c1b1b;
}

.form input:hover {
  background-color: #282a32;
}

.added-btn svg {
  font-size: 25px;
  border-radius: 5px;
  transition: var(--main-transition);
  
}
.added-btn svg:hover {
  box-shadow: 3px 2px 10px var(--shadow);
}